<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONSULTORIO</title>
	<link rel="icon" href="assets/img/logoimagenes.jpeg">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body class="contacto">
	<!-- logo y nav -->
	<header class="header">
			
			<a href="#"><img src="../assets/img/logo.png" alt="logo de la empresa" class="logo"	> </a>
		
				<nav>
		
					
						<ul class="nav__header">
								<li class="nav__li"><a href="../index.html">INICIO</a></li>
							    <li class="nav__li"><a href="servicios.html">SERVICIOS</a></li>
							    <li class="nav__li"><a href="nosotros.html">NOSOTROS</a></li>
							    <li class="nav__li"><a href="turnos.html">TURNOS</a></li>
							    <li class="nav__li"><a href="resultados.html">BUSCA TUS RESULTADOS</a></li>
							    <li class="nav__li"><a href="#">CONTACTO</a></li>
						</ul>
			</nav>
		
	</header>

		<form class="form" action="#">
		
			<h1 class="titulo-contacto">Envie su comentario.</h1>
	
			
		
			<input type="text" name="nombre" placeholder="Nombre/s">     <input type="text" name="apellido" placeholder="Apellido/s"><br><br>
			
			<input type="tel" name="telefono" placeholder="Telefono">   <input type="email" name="email" placeholder="Email">
			

		

		<div>
		 <p> comentarios:</p>
		</div>
			
				<textarea name="mensaje" id="mensaje" cols="50" rows="10"></textarea>
			 
		
		<div>
			<input type="submit" value="ENVIAR COMENTARIO">
		</div>
		</form>
		</main>
		<div class="img">
			<img src="../assets/img/imagenesbl.jpeg" alt="logo">
		</div>
	

	

<footer class="footer">
			
		<div>
			<a href="#"><img src="../assets/img/logo.png" alt="logo de la empresa" class="logo"	> </a>
				
		</div>
				<nav>
		<div >			
						<ul>
							<li><a href="../index.html">INICIO</a></li>
							<li><a href="servicios.html">SERVICIOS</a></li>
							<li><a href="nosotros.html">NOSOTROS</a></li>
							<li><a href="turnos.html">TURNOS</a></li>
							<li><a href="resultados.html">BUSCA TUS RESULTADOS</a></li>
							<li><a href="#">CONTACTO</a></li>
						</ul>
		</div>			
			</nav>
		<section>
			<div>
					<h4>Contacto y Ubicación</h4>
			</div>		
					<nav class="nav__footer">
						<a href="https://goo.gl/maps/MjDPdWDc2KxhJyFs6"target="_blank"><img src="https://icongr.am/feather/map-pin.svg?size=50&color=0077c8"></a>
						<a href="https://www.instagram.com/imagenesmedicasmza/"target="_blank"><img src="https://icongr.am/fontawesome/instagram.svg?size=50&color=0077c8"></a>
			            <a href="https://api.whatsapp.com/send?phone=542615548444&text=Hola!+Necesito+pedir+un+turno."target="_blank"><img src="https://icongr.am/simple/whatsapp.svg?size=50&color=0077c8"></a>
						<a href="mailto:imacentersas@gmail.com"target="_blank"><img src="https://icongr.am/clarity/email.svg?size=50&color=0077c8"></a>
					</nav>
			
		</section>
            
</footer>
</body>
</html>