<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONSULTORIO</title>
	<link rel="icon" href="assets/img/logoimagenes.jpeg">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body class="nosotros">
	<!-- logo y nav -->
	<header class="header">
			
			<a href="#"><img src="../assets/img/logo.png" alt="logo de la empresa" class="logo"	> </a>
		
				<nav>
		
					
						<ul class="nav__header">
								<li class="nav__li"><a href="../index.html">INICIO</a></li>
							    <li class="nav__li"><a href="servicios.html">SERVICIOS</a></li>
							    <li class="nav__li"><a href="#">NOSOTROS</a></li>
							    <li class="nav__li"><a href="turnos.html">TURNOS</a></li>
							    <li class="nav__li"><a href="resultados.html">BUSCA TUS RESULTADOS</a></li>
							    <li class="nav__li"><a href="contacto.html">CONTACTO</a></li>
						</ul>
			</nav>
		
	</header>
	
		<main class="imagenes">
		
	   			<h3 class="presentacion_imagenes">IMÁGENES, Es un consultorio privado de ecografías en Mendoza, dirigido y atendido por la profesional Victoria Rovella Battocchia, Médica Esp. en diagnóstico por imágenes. 
		Ubicado en Maipú, localidad de Mendoza, cuenta con equipamiento de última generación brindando así la capacidad de cubrir una vasta variedad de estudios ecográficos.</h3>

	    </main>
	<div class="staff">
		<h1>Nuestro Staff</h1>
	</div>
<div class="imagen__nosotros">
	<img class="imgMedica" src="../assets/img/profesional.JPG" alt="medica">
</div>
<div class="parrafo__nosotros">
	<p>Mi nombre es Victoria Rovella Battocchia.

Soy médica egresada de la Universidad de Mendoza. Comencé mi residencia en Diagnóstico por imágenes en el Hospital Universitario Austral en Bs. As., y culminé mi formación en 2017 en Clínica Moguillansky, donde me otorgaron el título universitario de especialista.

Viví en el sur hasta febrero de 2019. Allí trabaje en el Hospital P. Moguillansky como médica de planta de tomografía y en consultorios CNC haciendo ecografías.

Regrese a Mendoza en 2019, donde forme parte del equipo de ecografía y Radiologia en el centro Imagen Diagnostica.

Actualmente trabajo en el servicio de Tomografía, Resonancia y ecografía del Hospital Italiano, y estoy emprendiendo este proyecto de IMÁGENES, mi propio consultorio de ecografía.

MP 11570</p>
</div>
<footer class="footer">
			
		<div>
			<a href="#"><img src="../assets/img/logo.png" alt="logo de la empresa" class="logo"	> </a>
				
		</div>
				<nav>
		<div >			
						<ul>
							<li><a href="../index.html">INICIO</a></li>
							<li><a href="servicios.html">SERVICIOS</a></li>
							<li><a href="#">NOSOTROS</a></li>
							<li><a href="turnos.html">TURNOS</a></li>
							<li><a href="resultados.html">BUSCA TUS RESULTADOS</a></li>
							<li><a href="contacto.html">CONTACTO</a></li>
						</ul>
		</div>			
			</nav>
		<section>
			<div>
					<h4>Contacto y Ubicación</h4>
			</div>		
					<nav class="nav__footer">
						<a href="https://goo.gl/maps/MjDPdWDc2KxhJyFs6"target="_blank"><img src="https://icongr.am/feather/map-pin.svg?size=50&color=0077c8"></a>
						<a href="https://www.instagram.com/imagenesmedicasmza/"target="_blank"><img src="https://icongr.am/fontawesome/instagram.svg?size=50&color=0077c8"></a>
			            <a href="https://api.whatsapp.com/send?phone=542615548444&text=Hola!+Necesito+pedir+un+turno."target="_blank"><img src="https://icongr.am/simple/whatsapp.svg?size=50&color=0077c8"></a>
						<a href="mailto:imacentersas@gmail.com"target="_blank"><img src="https://icongr.am/clarity/email.svg?size=50&color=0077c8"></a>
					</nav>
			
		</section>
            
</footer>
</body>
</html>