<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONSULTORIO</title>
		<link rel="icon" href="assets/img/logoimagenes.jpeg">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="css/normalize.css">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body class="servicios">
	<!-- logo y nav -->
	<header class="header">
			
			<a href="#"><img src="../assets/img/logo.png" alt="logo de la empresa" class="logo"	> </a>
		
				<nav>
		
					
						<ul class="nav__header">
								<li class="nav__li"><a href="../index.html">INICIO</a></li>
							    <li class="nav__li"><a href="#">SERVICIOS</a></li>
							    <li class="nav__li"><a href="nosotros.html">NOSOTROS</a></li>
							    <li class="nav__li"><a href="turnos.html">TURNOS</a></li>
							    <li class="nav__li"><a href="resultados.html">BUSCA TUS RESULTADOS</a></li>
							    <li class="nav__li"><a href="contacto.html">CONTACTO</a></li>
						</ul>
			</nav>
		
	</header>
	<!-- IMG TITULO E INTRO -->

	<main class="main-servicios">
		<article class="texto-main">
			
	   			<h1 class="titulo-servicios">Nuestros servicios</h1>
	        
			    <P class="parrafo-servicios">En Imágenes, queremos brindarle una excelente calidad de atención,
			 aplicando nuestros conocimientos y equipamientos de ultima tecnologia
			  logrando asi los mejores resultados.</P>
		</article>
	</main>
	         <ul class="lista-servicios">
	         	 <li>ECOGRAFIA GENERAL </li>
		         <li>ECOGRAFIA GINECOLÓGICA Y MAMARIA </li>
		     	 <li>ECOGRAFIA FETAL Y DOPPLER FETO-PLACENTARIO </li>
		     	 <li>ECOGRAFIA DE PARTES BLANDAS </li>
		     	 <li>ECOGRAFIA PEDIATRICA </li>
		     	 <li>DOPPLER VASCULAR </li>
	         </ul>
	<section class="subtitulo">
		<h2 class="subtitulo__parrafos">ecografías de urgencia </h2>
		<p class="parrafo__servicios">días sabados y domingos de 9 a 13 hs</p>	
	</section>

	
<!-- logo nav y contactos -->
	<footer class="footer">
			
		<div>
			<a href="#"><img src="../assets/img/logo.png" alt="logo de la empresa" class="logo"	> </a>
				
		</div>
				<nav>
		<div >			
						<ul>
							<li><a href="../index.html">INICIO</a></li>
							<li><a href="#">SERVICIOS</a></li>
							<li><a href="nosotros.html">NOSOTROS</a></li>
							<li><a href="turnos.html">TURNOS</a></li>
							<li><a href="resultados.html">BUSCA TUS RESULTADOS</a></li>
							<li><a href="contacto.html">CONTACTO</a></li>
						</ul>
		</div>			
			</nav>
		<section>
			<div>
					<h4>Contacto y Ubicación</h4>
			</div>		
					<nav class="nav__footer">
						<a href="https://goo.gl/maps/MjDPdWDc2KxhJyFs6"target="_blank"><img src="https://icongr.am/feather/map-pin.svg?size=50&color=0077c8"></a>
						<a href="https://www.instagram.com/imagenesmedicasmza/"target="_blank"><img src="https://icongr.am/fontawesome/instagram.svg?size=50&color=0077c8"></a>
			            <a href="https://api.whatsapp.com/send?phone=542615548444&text=Hola!+Necesito+pedir+un+turno."target="_blank"><img src="https://icongr.am/simple/whatsapp.svg?size=50&color=0077c8"></a>
						<a href="mailto:imacentersas@gmail.com"target="_blank"><img src="https://icongr.am/clarity/email.svg?size=50&color=0077c8"></a>
					</nav>
			
		</section>
            
</footer>
</body>
</html>